body {
  font-family: 'Casandra', sans-serif;
  background-color: #C682C6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #EAD6FF;
  border: 1px solid #3C027A;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #924F92;
}

.link-list {
  list-style-type: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
}

a {
  display: block;
  padding: 12px;
  border: 1px solid #E252A5;
  border-radius: 8px;
  text-decoration: none;
  color: #996BB2;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
  background-color: #F2C4EB;
  color: #ffffff;
}
