body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="tel"],

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.container.dark-mode {
  background-color: #444;
  border-color: #555;
}

form.dark-mode{
  background-color: #333;
  color: #fff;
}

div.dark-mode{
  background-color: #333;
  color: #fff;
}

button.dark-mode {
  background-color: #fff;
  color: #333;
}

input.dark-mode{
  background-color: #333;
  color: #fff;

}

h2.dark-mode {
  background-color: #fff;
  color: #333;
}
